/* Set the universal selector to border box to make the entire page responsive and easily designed */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f7dc67;
    --secondary-color: #003300;
    --text-color: #000000;
    --background-color: #f5f5dc;
    --heading-typography: "Montserrat";
    --body-typography: "Open Sans";
}

header,
main,
footer {
    margin: .75rem auto;
    max-width: 480px;
}
nav {
    margin: -1rem auto 0rem auto;
    max-width: 480px;
}

header,
footer {
    padding: 1rem;
    font-family: var(--heading-typography);
    color: var(--primary-color);
    background: var(--secondary-color);
    text-align: center;
    border: 2px solid var(--text-color);
    border-radius: 8px;
}

h2,
footer p {
    color: var(--background-color);
    font-family: var(--body-typography);
}

ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    justify-content: center;
    padding: .5rem;
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
    font-family: var(--heading-typography);
    background: var(--primary-color);
}

li a {
    text-decoration: none;    
}

li a:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}

li a:visited {
    color: var(--secondary-color);
}

section {
    margin: .5rem;
    background-color: var(--background-color);
}

section img {
    width: 100%;
    margin-bottom: .5rem;
}

section blockquote {
    font-family: var(--heading-typography);
    padding: 1rem;
    line-height: 1.5;
}

input {
    font-family: var(--heading-typography);
    padding: .5rem;
    margin: 0 .5rem .5rem .5rem;
}