@media screen and (min-width: 500px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    header nav:last-child{
        margin-left: 60%;
    }

    nav ul {
        list-style: none;
        display: inline-flex;
        flex-direction: row;
        justify-content: end;
    }
    
    nav a {
        color: #fff;
        text-align: end;
        padding: 1rem;
        text-decoration: none;
        font-size: medium;
    }

    .active {
        color: #fff;
    }

    section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        text-align: center;
    }

    section img {
        max-width: 200px;
    }
    
}