* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bord: "Roboto", sans-serif 
}

body {
    font-family: var(--bord);
    text-align: center;
}

header,
main {
    margin: 0 auto;
    max-width: 640px;  
}

header,
footer {
    background-color: green;
    border: 5px solid white;
    border-radius: 2px;
    padding: 2rem;
    color: white;
}

footer {
    margin: 0 auto 2rem auto;
    max-width: 640px;  
}

main {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    border: 5px solid green;
    border-radius: 2px;
}

.hero img {
    width: 100%;
    height: auto;
    padding-top: 2rem;
    padding: 1rem;
}

section > div:first-child {
    border-bottom: 5px solid green;
  } 

.weather h2 {
    color: green;
}

.weather div {
    padding: 2rem;
}

.weather img {
    width: 5rem;
}   

ul {
    list-style: none;
    margin: 0 auto;  
    padding: 2rem;              
    width: max-content;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    text-align: right;

}

li {
    padding: 0.5rem;
}

li:nth-of-type(even) {
    text-align: left;
}

@media only screen and (min-width: 40em) {
    header,
    main,
    footer {
    max-width: none;    
    padding: 0.5rem 0.5rem;
    background-color: green;
    border: 5px solid white;
    border-radius: 2px;
    }

    .hero {
        position: relative;
    }

    section > div:first-child {
        position: absolute;
        top: 16rem;
        left: 6rem;
        z-index: 1;
        background-color: rgba(225, 225, 225, 0.7);
        border: 1px solid black;
  } 

   section > div:last-child {
        position: absolute;
        bottom: -30rem;
        right: 6rem;
        z-index: 1;
        background-color: rgba(225, 225, 225, 0.7);
        border: 1px solid black;
  } 

    .weather img {
        display: none;
    }   

    .weather h2 {
        text-align: left;
        background-color: green;
        color: white;
        padding: 0.5rem;
    }

    div:nth-of-type(2) h2::after {
        content: "🌩";
        width: 10rem;
        color: yellow;
    }


}
